[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "xlink"]
	path = xlink
	url = https://github.com/qiuanzhu/xlink
	shallow = true
	registered = true
