[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "remss"]
	path = remss
	url = https://github.com/cran/remss
[submodule "xlink"]
	path = xlink
	url = https://github.com/qiuanzhu/xlink
